<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Dark Jurassic</title>
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>

<header>
    <h1>Mon Forum</h1>
    <p>Bienvenue sur le forum !</p>
</header>

<nav>
    <a href="home.html">Accueil</a> |
    <a href="category.html">Catégories</a> |
    <a href="post_create.html">Créer un post</a> |
    <a href="login.html">Connexion</a>
    <a href="register.html">S'inscrire</a>
    <a href="profile.html">Mon profil</a>
</nav>
