<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Accueil - Dark Jurassic</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>

    <header class="banner">
        <img src="../../static/banner.png" alt="Website Banner">
    </header>

    <nav>
        <div class="nav-left">
            <a href="/">Accueil</a>
            <a href="/categories">Catégories</a>
            <a href="/post_create">Créer un post</a>
            <a href="/login">Connexion</a>
        </div>

        <form class="search-bar">
            <input type="text" placeholder="Rechercher..." name="q">
            <button type="submit">
                <img src="../../static/search.png" alt="search">
            </button>
        </form>

        <div class="top-right-icons">
            <a href="/register" class="icon-btn">
                <img src="../../static/register.png" alt="Register">
            </a>
            <a href="/profile" class="icon-btn">
                <img src="../../static/profile.png" alt="Profil">
            </a>
        </div>
    </nav>

<main>
    <div class="container">
        <section class="left">
            <h2 class="section-title">Utilisateurs</h2>
        </section>

        <section class="center">
            <div class="post">
                <div class="post-content">
                    
                    </div>
                </div>
            </section>

            <section class="right">
                <h2 class="section-title">Catégories populaires</h2>

                <div class="category-list">
                    <a href="/categories/general" class="category-item">
                        <img src="../../static/general.png" alt="General">
                        <h3>Général</h3>
                    </a>
                    <a href="/categories/tech" class="category-item">
                        <img src="../../static/gear.png" alt="Tech">
                        <h3>Technologie</h3>
                    </a>
                    <a href="/categories/games" class="category-item">
                        <img src="../../static/controller.png" alt="Jeux vidéo">
                        <h3>Jeux Vidéos</h3>
                    </a>
                </div>
            </section>

        </div>
    </main>
    <footer>
        <p>© 2026 Dark Jurassic</p>
    </footer>

</body>

</html>