<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Accueil - Dark Jurassic</title>
    <link rel="icon" href="../../static/dark_jurassic_icon_nobg.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../static/styles.min.css">
</head>

<body>
   <header class="top-right-icons">
        <a href="/register" class="icon-btn">
            <img src="../../static/register.png" alt="Register">
        </a>
        
        <a href="/profile" class="icon-btn">
            <img src="../../static/profile.png" alt="Profil">
        </a>
    </header>

    <header class="banner">
        <img src="../../static/banner.png" alt="Website Banner">
    </header>

    <nav>
        <div class="nav-left">
            <a href="/">Accueil</a>
            <a href="/categories">Catégories</a>
            <a href="/topic/new">Créer un topic</a>
            <a href="/login">Connexion</a>
        </div>
        
        <form class="search-bar">
            <input type="text" placeholder="Rechercher..." name="q">
            <button type="submit">
                <img src="../../static/search.png" alt="search">
            </button>
        </form>
    </nav>


<main>
    <div class="container">
        <section class="left">
            <h2 class="section-title">Utilisateurs</h2>
            <ul class="user-list">
                {{ range .Users }}
                    <li>
                        <strong>{{ .Username }}</strong></li>
                {{ end }}
            </ul>
        </section>

        <section class="center">
            <div class="post">
                <div class="post-content">
                    </div>
                </div>
            </section>

            <section class="right">
                <!-- <h2 class="section-title"></h2> RETIRER MARGIN TOP SI REMIS-->
                <div class="category-list">
                    <a href="/categories/dinosaurs" class="category-item">
                        <img src="../../static/dino.png" alt="Dinosaures">
                        <h3>Dinosaures</h3>
                    </a>
                    <a href="/categories/news" class="category-item">
                        <img src="../../static/news.png" alt="News">
                        <h3>News</h3>
                    </a>
                    <a href="/categories/theories" class="category-item">
                        <img src="../../static/theories.png" alt="Theories">
                        <h3>Théories</h3>
                    </a>
                </div>
            </section>

        </div>
    </main>
    <footer>
        <p>© 2026 Dark Jurassic</p>
    </footer>

</body>

</html>