<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Profil - Dark Jurassic</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>
   <header class="top-right-icons">
        <a href="/register" class="icon-btn">
            <img src="../../static/register.png" alt="Register">
        </a>
        
        <a href="/profile" class="icon-btn">
            <img src="../../static/profile.png" alt="Profil">
        </a>
    </header>

    <header class="banner">
        <img src="../../static/banner.png" alt="Website Banner">
    </header>

    <nav>
        <div class="nav-left">
            <a href="/">Accueil</a>
            <a href="/categories">Catégories</a>
            <a href="/topic_new">Créer un topic</a>
            <a href="/login">Connexion</a>
        </div>
        
        <form class="search-bar">
            <input type="text" placeholder="Rechercher..." name="q">
            <button type="submit">
                <img src="../../static/search.png" alt="search">
            </button>
        </form>
    </nav>
    
<main>
    <section class="form-card">
        <h2>Connexion</h2>

        <form action="/login" method="POST">
            <label>Nom d'utilisateur ou Email :</label><br>
            <input type="text" name="identifier" required><br><br>

            <label>Mot de passe :</label><br>
            <input type="password" name="password" required><br><br>

            <button type="submit">Se connecter</button>
            <p class="register-link">Pas encore de compte ? &nbsp;<a href="/register">Inscris-toi ici</a></p>

        </form>
    </section>
</main>

    <footer>
        <p>© 2026 Dark Jurassic</p>
    </footer>


</body>

</html>