<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Profil - Dark Jurassic</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>
   <header class="top-right-icons">
        <a href="/register" class="icon-btn">
            <img src="../../static/register.png" alt="Register">
        </a>
        
        <a href="/profile" class="icon-btn">
            <img src="../../static/profile.png" alt="Profil">
        </a>
    </header>

    <header class="banner">
        <img src="../../static/banner.png" alt="Website Banner">
    </header>

    <nav>
        <div class="nav-left">
            <a href="/">Accueil</a>
            <a href="/categories">Catégories</a>
            <a href="/post_create">Créer un post</a>
            <a href="/login">Connexion</a>
        </div>
        
        <form class="search-bar">
            <input type="text" placeholder="Rechercher..." name="q">
            <button type="submit">
                <img src="../../static/search.png" alt="search">
            </button>
        </form>
    </nav>

    <main>
        <section class="form-card">
            <h2>Nouveau post</h2>

            <form action="#" method="post">
                <label>Titre :</label>
                <input type="text" name="title" required>

                <label>Catégorie :</label>
                <select name="category" required>
                    <option value="">-- Choisir --</option>
                    <option value="general">Général</option>
                    <option value="dino">Dinosaures</option>
                    <option value="theories">Théories</option>
                    <option value="news">News</option>
                </select>

                <label>Contenu :</label>
                <textarea name="content" rows="6" required></textarea>

                <button type="submit">Publier</button>
            </form>
        </section>
    </main>

    <footer>
        <p>© 2026 Dark Jurassic</p>
    </footer>

</body>

</html>