<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Profile - Dark Jurassic</title>
    <link rel="icon" href="../../static/dark_jurassic_icon_nobg.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../static/styles.min.css">
</head>

<body>
   <header class="top-right-icons">
        <a href="/register" class="icon-btn">
            <img src="../../static/register.png" alt="Register">
        </a>
        
        <a href="/profile" class="icon-btn">
            <img src="../../static/profile.png" alt="Profil">
        </a>
    </header>

    <header class="banner">
        <img src="../../static/banner.png" alt="Website Banner">
    </header>

    <nav>
        <div class="nav-left">
            <a href="/">Accueil</a>
            <a href="/categories">Catégories</a>
            <a href="/topic_new">Créer un topic</a>
            <a href="/login">Connexion</a>
        </div>
        
        <form class="search-bar">
            <input type="text" placeholder="Rechercher..." name="q">
            <button type="submit">
                <img src="../../static/search.png" alt="search">
            </button>
        </form>
    </nav>

    <main>
        <section class="profile-card">

            <h2>Profil</h2>

            <div class="profile-info">
                <p><strong>Nom d'utilisateur :</strong> {{ .Username }}</p>
                <p><strong>Email :</strong> {{ .Email }}</p>
                <p><strong>Membre depuis :</strong> {{ .CreatedAt }}</p>
            </div>

            <hr>

            <h3>Actions</h3>

            <button>Modifier le profil</button>
            <form action="/delete/account" method="POST">
                <button type="submit" class="danger">Supprimer le compte</button>
            </form>

        </section>
    </main>

    <footer>
        <p>© 2026 Dark Jurassic</p>
    </footer>

</body>

</html>