<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Dark Jurassic</title>
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>

<header>
    <header class="banner">
  <img src="static/banner.png" alt="Website Banner">
</header>

<header>
    <h1>Dark Jurassic</h1>
    <p>Bienvenue sur le forum !</p>
</header>

<nav>
    <a href="home.html">Accueil</a> 
    <a href="category.html">Catégories</a> 
    <a href="post_create.html">Créer un post</a> 
    <a href="login.html">Connexion</a>
    <a href="register.html">S'inscrire</a>
    <a href="profile.html">Mon profil</a>
</nav>

<main>
    <section>
        <h2>Créer un compte</h2>

        <form action="#" method="post">
            <label>Nom d'utilisateur :</label><br>
            <input type="text" name="username" required><br><br>

            <label>Email :</label><br>
            <input type="email" name="email" required><br><br>

            <label>Mot de passe :</label><br>
            <input type="password" name="password" required><br><br>

            <label>Confirmer le mot de passe :</label><br>
            <input type="password" name="confirm_password" required><br><br>

            <button type="submit">S'inscrire</button>
        </form>
    </section>

    <section>
        <p>Déjà un compte ? <a href="login.html">Connecte-toi ici</a></p>
    </section>
</main>

<footer>
    <p>© 2026 Dark Jurassic</p>
</footer>

</body>
</html>