<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>S'inscrire - Dark Jurassic</title>
    <link rel="icon" href="../../static/dark_jurassic_icon_nobg.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../static/styles.min.css">
</head>

<body>
   <header class="top-right-icons">
        <a href="/register" class="icon-btn">
            <img src="../../static/register.png" alt="Register">
        </a>
        
        <a href="/profile" class="icon-btn">
            <img src="../../static/profile.png" alt="Profil">
        </a>
    </header>

    <header class="banner">
        <img src="../../static/banner.png" alt="Website Banner">
    </header>

<nav>
    <a href="/home">Accueil</a> 
    <a href="/category">Catégories</a> 
    <a href="/topic_new">Créer un topic</a> 
    <a href="/profile">Mon profil</a>
    <form class="search-bar">
        <input type="text" placeholder="Rechercher..." name="q">
        <button type="submit">
            <img src="../../static/search.png" alt="search">
        </button>
    </form>
</nav>

<main>
    <section class="form-card">
        <h2>Créer un compte</h2>

        <form action="/register" method="POST">
            <label>Nom d'utilisateur :</label><br>
            <input type="text" name="username" required><br><br>

            <label>Email :</label><br>
            <input type="email" name="email" required><br><br>

            <label>Mot de passe :</label><br>
            <input type="password" name="password" required><br><br>

            <label>Confirmer le mot de passe :</label><br>
            <input type="password" name="confirm_password" required><br><br>

            <button type="submit">S'inscrire</button>

            <p class="login-link">Déjà inscris ? &nbsp;<a href="/register">Connecte-toi ici</a></p>
            
            <a href="/auth/google/login" class="btn-google">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" width="20" height="20">
                    Se connecter avec Google
            </a>
            

        </form>
    </section>
</main>

<footer>
    <p>© 2026 - Dark Jurassic</p>
</footer>

</body>
</html>